<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <style>
        #todocontainer { margin-top: 50px; }
		.toggle.btn {
		    min-width: 100px !important; 
		    width: 100px !important;
			
		}

		.toggle-on, .toggle-off {
		    font-size: 14px;
		}
    </style>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand">TODOS</span>
        <a th:href="@{/logout}" class="btn btn-outline-danger">Logout</a>
    </nav>

    <div class="container" id="todocontainer">
        <h2 class="text-center mb-4">Todo List</h2>
        <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#todoAdd">リストを追加</button>
		
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 70px;">ID</th>
                    <th style="width: 20%;">タイトル</th>
                    <th>内容</th>
                    <th style="width: 120px;">状態</th>
					<th style="width: 100px;">削除</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="todo : ${todos}">
                    <td th:text="${todo.taskId}" style="width: 70px;"></td>
                    <td th:text="${todo.title}" style="width: 20%;"></td>
                    <td th:text="${todo.description}"></td>
					<td style="width: 120px;">
					    <input type="checkbox" 
					           class="status-toggle"
					           th:checked="${todo.status == 1}" 
					           data-toggle="toggle" 
					           data-off="未完了" 
					           data-on="完了済" 
					           data-onstyle="success" 
					           data-offstyle="secondary"
					           th:data-id="${todo.taskId}">
					</td>
					<td class="text-center align-middle">
						<button
						type="submit"  
						class="btn btn-danger delete-btn"
						th:data-id="${todo.taskId}"
						th:if="${todo.deleteFlg == 0}" 
						 th:text="'削除'"></button>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
	<div class="todos">
	    <div th:each="todo : ${todoList}" th:text="${todo.title}">既存のタスク</div>
	</div>

 <!--  追加モーダル  -->
    <div class="modal fade" id="todoAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Form</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
				<!-- body -->
                <div class="modal-body">
					<form class="px-4 pt-3 my-3" method="post" action="/todo/add" id="todoForm">
						<div class="form-group mb-3">
							<label>Title</label>
							<input type="text" class="form-control" placeholder="タイトル" name="title">
							<div class="text-danger"></div>
						</div>
						<div class="form-group mb-3">
							<label>Description</label>
							<input type="text" class="form-control" placeholder="内容" name="description" >
							<div class="text-danger"></div>
						</div>
						<!-- 送信ボタン -->
						<div class="modal-footer">
							 <button type="submit" class="btn btn-success" value="Confirm">追加</button>
						     <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
						 </div>
					</form>
                </div>

            </div>
        </div>
    </div>
<!--削除モーダル-->
<div class="modal fade" id="todoDelete" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">削除確認画面</h4></h4>
                </div>
                <div class="modal-body">
                    <label>データを削除しますか？</label>
                </div>
				<form method="get" action="/todo/delete" id="todoDeleteForm">
					<div class="modal-footer">
					     <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
					     <button type="submit" class="btn btn-danger" id="deleteBtn">削除</button>
					</div>
				</form>
            </div>
        </div>
    </div>
	

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	    <script src="/todo.js"></script>
</body>
</html>