<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    <h1>Todo List</h1>

    <form id="todoForm">
        <input type="text" id="title" placeholder="新しいTodo">
        <button type="submit">追加</button>
    </form>

    <ul id="todoList">
        <li th:each="todo : ${todos}" th:id="'todo-' + ${todo.id}" th:text="${todo.title}"></li>
    </ul>

    <script src="/js/todo.js"></script>
</body>
</html>